.wrapper{
    background-color: rgba(88, 88, 88, 0.6);
    padding-bottom: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,260px);
    grid-template-rows: repeat(4,180px);
    padding-left: 10px;
    padding-top: 10px;
    align-items:stretch;
    place-content: center;
    grid-template-areas:
        "wide1 wide1 product1 product2"
        "wide2 wide2 product1 product2"
        "product3 product4 wide3 wide3"
        "product3 product4 wide4 wide4";
}

.wrapper_items{
    background-color:rgb(236, 174, 98);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;

}
body{
    margin: 0;
    padding: 0;
}
.product_1 {grid-area:product1;}
.product_2 {grid-area:product2;}
.product_3 {grid-area:product3;}
.product_4 {grid-area:product4;}
.sale_1 {grid-area:wide1;}
.sale_2 {grid-area:wide2;}
.sale_3 {grid-area:wide3;}
.sale_4 {grid-area:wide4;}